body {
  background: radial-gradient(ellipse at center, white 40%, lightgrey 100%);
  height: 100vh;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin: 0;
}
body .ivory {
    background: radial-gradient(ellipse at center, Ivory 30%, LavenderBlush 100%);
}

body > * {
  flex: 1 100%;
  text-align: center;
}
ul {
  list-style-type: none;
}
/* Header and nav bar */

.header,
.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

.header {
  margin: 0px;
  max-height: 3em;
}

.header a {
  text-decoration: none;
  padding: 1em 1.5em;
}
.icon {
    font-size: 36px;
    margin: 0.25em 0.25em;
}


/* Buttons */

.button {
  border-radius: 10px;
  border: 1px #ccc;
  margin: 1em 0.5em;
  padding: 1em 2em;
  font-size: 24px;
  max-width: 400px;
}
.start {
  background-color: aquamarine;
}

.stop {
  background-color: tomato;
  color: Ivory;
}
.buttons {
    display: flex;
    flex-direction: column;
}
.buttons-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.button-toggle {
  border: 1px #ccc;
  font-size: 24px;
}

.left {
  border-radius: 10px 0 0 10px;
}

.right {
  border-radius: 0 10px 10px 0;
}

.active {
  background-color: aquamarine;
}

.readout {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 1em;
}
.stats {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 1em;
    justify-content: space-evenly;
}
.stat {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.readout p {
  font-size: 36px;
  margin: 0 auto 1em auto;
}

/* Overlay Nav */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
